{% extends "base.html" %}
{% load bootstrap5 %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Möchten Sie den Ort "{{ location.name }}" wirklich löschen?</p>
        <button type="submit" class="btn btn-danger">Löschen</button>
        <button type="button" class="btn btn-secondary" onclick="history.back()">Abbrechen</button>
        <noscript>
            <a href="{% url 'location' %}" class="btn btn-secondary">Abbrechen</a>
        </noscript>
    </form>
{% endblock %}