services:
  web:
    image: ghcr.io/schwarzzeltland/schwarzzeltland/django-app:main
    restart: unless-stopped
    build:
      context: .
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/uploads
    expose:
      - 8000
    environment: &django_env  # Anchor to avoid repeating env vars
      DJANGO_SECRET_KEY: "${DJANGO_SECRET_KEY}"
      DJANGO_DEBUG: "${DJANGO_DEBUG}"
      CELERY_BROKER_URL: redis://redis:6379/0
      GOOGLE_MAPS_API_KEY: "${GOOGLE_MAPS_API_KEY}"
      EMAIL_HOST: "${EMAIL_HOST}"
      EMAIL_HOST_USER: "${EMAIL_HOST_USER}"
      EMAIL_HOST_PASSWORD: "${EMAIL_HOST_PASSWORD}"
      DEFAULT_FROM_EMAIL: "${DEFAULT_FROM_EMAIL}"
      SQL_ENGINE: django.db.backends.postgresql
      SQL_DATABASE: schwarzzeltland
      SQL_USER: django
      SQL_PASSWORD: schwarzzeltland
      SQL_HOST: db
      SQL_PORT: 5432
      DATABASE: postgres
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: django
      POSTGRES_PASSWORD: schwarzzeltland
      POSTGRES_DB: schwarzzeltland
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  celery_worker:
    build: .
    command: celery -A schwarzzeltland worker --loglevel=info
    volumes:
      - media_volume:/app/uploads
    environment: *django_env
    depends_on:
      - db
      - redis

  celery_beat:
    build: .
    command: celery -A schwarzzeltland beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    environment: *django_env
    depends_on:
      - db
      - redis
  nginx:
    image: ghcr.io/schwarzzeltland/schwarzzeltland/nginx:main
    restart: unless-stopped
    build: ./nginx
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/uploads
    ports:
      - 1337:80
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume: