{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
      <form method="get" action="" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="search" value="{{ search_query }}"
                   placeholder="Suchen nach Name">
            <button class="btn btn-outline-secondary" type="submit">Suchen</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for c in construction %}
            <tr>
                <td>{{ c.name }}
                <td class="text-end"> <!-- Text rechtsbündig ausrichten -->
                    {% if is_material_manager %}
                        <a href="{% url 'edit_constructions' c.pk %}"
                           class="btn btn-outline-primary btn-sm me-2">Bearbeiten</a>
                        <a href="{% url 'delete_construction' c.pk %}" class="btn btn-danger btn-sm">Löschen</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if form %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <div class="input-group">
                            <select name="construction" class="form-select select2" required id="id_construction">
                                <option value="" disabled selected>--------</option>
                                {% for c in form.fields.construction.queryset %}
                                    <option value="{{ c.pk }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-success">
                                Konstruktion hinzufügen
                            </button>
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'edit_constructions' %}" class="btn btn-outline-secondary" type="button"
                           id="button-addon1">
                            Neue Konstruktion erstellen
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    {% endif %}
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Select2 Library -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_construction').select2({
                placeholder: "--------",
                allowClear: true,
                width: 'resolve' // Automatische Breite basierend auf dem Container
            });
        });
    </script>
    <style>
        .select2-container--default .select2-selection--single {
            height: 38px; /* Abstimmung mit Bootstrap-Form-Höhe */
            font-size: 16px;
            display: flex;
            align-items: center;
            padding: 0 10px; /* Nur horizontale Innenabstände */
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ced4da; /* Bootstrap-Standard-Rahmenfarbe */
            background-color: #fff; /* Hintergrundfarbe */
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 100%; /* Pfeil anpassen */
            right: 10px; /* Pfeil-Abstand */
        }


        .select2-container--default .select2-selection--single:focus,
        .select2-container--default .select2-selection--single:hover {
            border-color: #80bdff; /* Bootstrap-Fokusfarbe */
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Fokus-Schlagschatten */
        }
    </style>
{% endblock %}
