{% extends "base.html" %}
{% load bootstrap5 %}


{% block content %}
 <form action="{% url 'create_material' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success">
                <span data-feather="alert-triangle"></span>
                Material speichern
            </button>
            <a href="{% url 'material' %}" class="btn btn-secondary">Abbrechen</a>
        {% endbuttons %}
    </form>
{% endblock %}
