{% extends "base.html" %}
{% load bootstrap5 %}


{% block content %}
 <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form mat_form %}
        {% bootstrap_form form %}
        {% buttons %}
            <div class="mb-2">
            <button type="submit" name="save" class="btn btn-success">
                <span data-feather="alert-triangle"></span>
                Material speichern
            </button>
            <button type="submit" name="save-as-new" class="btn btn-primary">
                <span data-feather="alert-triangle"></span>
                Als neues Material speichern
            </button>
            </div>
            <div class="mb-2">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Abbrechen</button>
                    <noscript>
                        <a href="{% url 'material' %}" class="btn btn-secondary">Abbrechen</a>
                    </noscript>
            </div>
        {% endbuttons %}
    </form>
{% endblock %}
