{% extends "base.html" %}
{% load bootstrap5 %}


{% block content %}
    <form method="get" action="" class="mb-3">
        <div class="input-group">
            <!-- Suchleiste -->
            <input type="text" class="form-control" name="search" value="{{ search_query }}"
                   placeholder="Suchen nach Name oder Lagerort">

            <!-- Dropdown für Materialtyp -->
            <select class="form-select" id="material_type" name="material_type">
                <option value="">Alle Materialtypen</option>
                {% for value, label in material_types %}
                    <option value="{{ value }}"
                            {% if value|stringformat:"s" == selected_material_type %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
            <!-- Suchen-Button -->
            <button class="btn btn-outline-secondary" type="submit">Suchen</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Anzahl</th>
            <th scope="col">Lagerort</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for m in materials %}
            <tr>
                <td>{{ m.material.name }}</td>
                <td>{{ m.count }}</td>
                <td>{{ m.storage_place }}</td>
                <td></td>
                <td class="text-end"> <!-- Text rechtsbündig ausrichten -->
                    {% if is_material_manager %}
                        <a href="{% url 'edit_material' m.pk %}" class="btn btn-sm btn-outline-primary">Bearbeiten</a>
                        <a href="{% url 'delete_material' m.pk %}" class="btn btn-danger btn-sm">Löschen</a>
                    {% else %}
                        <a href="{% url 'show_material' m.pk %}" class="btn btn-sm btn-outline-primary">Anzeigen</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if form %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            <table class="table">
                <tbody>
                {{ form.non_field_errors }}
                <td>
                    <div class="input-group">
                        <label for="id_material"></label>
                        {{ form.material }}
                        <a href="{% url 'create_material' %}" class="btn btn-outline-secondary" type="button"
                           id="button-addon1">Neues Material erstellen
                        </a>
                    </div>
                </td>
                <td>{% bootstrap_field form.count show_label=False %}</td>
                <td>{% bootstrap_field form.storage_place show_label=False %}</td>
                <th scope="row" class="text-end">
                    <button type="submit" class="btn btn-success">
                        Ins Lager einsortieren
                    </button>
                </th>
                </tbody>
            </table>
        </form>
    {% endif %}
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Select2 Library -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_material').select2({
                placeholder: "--------",
                allowClear: true,
                width: 'resolve' // Automatische Breite basierend auf dem Container
            });
        });
    </script>
    <style>
        .select2-container--default .select2-selection--single {
            height: 38px; /* Abstimmung mit Bootstrap-Form-Höhe */
            font-size: 16px;
            display: flex;
            align-items: center;
            padding: 0 10px; /* Nur horizontale Innenabstände */
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ced4da; /* Bootstrap-Standard-Rahmenfarbe */
            background-color: #fff; /* Hintergrundfarbe */
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 100%; /* Pfeil anpassen */
            right: 10px; /* Pfeil-Abstand */
        }


        .select2-container--default .select2-selection--single:focus,
        .select2-container--default .select2-selection--single:hover {
            border-color: #80bdff; /* Bootstrap-Fokusfarbe */
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Fokus-Schlagschatten */
        }
    </style>
{% endblock %}
