{% extends "base.html" %}

{% block content %}
{#    <h1>Was ist Schwarzzeltland?</h1>#}
    <h2>Schwarzzeltland ist eine kostenlose Webseite auf der ihr eure eigenen Zeltmaterialien oder auch die eures
        Pfadfinderstammes verwalten könnt.</h2>
    <p></p>
    <h2>Was heißt das im Detail?</h2>
    <p> Ihr könnt eure Zeltkonstruktionen, mit den jeweils benötigten Materialien speichern und wenn ihr möchtet mit
        anderen Nutzern teilen, um eure einzigartigen Bauwerke anderen Pfadfindern (oder auch Nicht-Pfadfinder) zu
        präsentieren.</p>
    <p>Außerdem habt ihr die Möglichkeit die Materiallager, Konstruktionen und Events eurer Organisationen zu
        verwalten.</p>
    <h4>Hierfür könnt ihr euch einen kostenlosen Account erstellen.</h4>
    <p></p>
    <h2>Was sind Organisationen</h2>
    <p>Wenn ihr euch einen Account erstellt wird automatisch eure eigene Organisation aus eurem Nutzernamen erstellt
        z.B. "Maxs Organisation" </p>
    <p>Ihr könnt beliebig viele Organisationen erstellen und andere Nutzer zu diesen einladen und deren Berechtigungen
        verwalten.</p>
    <p>Es gibt folgende Berechtigungen:</p>
    <p>- Admin: Der Admin ist der Verwalter der Organisation, dieser kann Nutzer einladen und Berechtigungen
        verwalten.</p>
    <p>- Materialwart: Der Materialwart kann die Materialbestände der Organisation bearbeiten und Konstruktionen
        hinzufügen oder verändern.</p>
    <p>- Mitglied: Mitglieder der Organisation können sich nur das Material und die Konstruktionen der Organisation
        anschauen, aber nichts verändern.</p>
    <h2>Was sind Konstruktionen</h2>
    <p>Konstruktionen sind eure Zelte, also zum Beispiel eine Kothe, die aus 4 Kothenblättern, Heringen, Seilen etc.
        besteht. </p>
    <h2>Was sind Events</h2>
    <p>Events sind die Veranstaltungen eurer Organisationen, also zum Beispiel das Pfingtslager, der Wandertag oder eine
        Übernachtung, für die ihr Konstruktionen (Zelte) benötigt.</p>
{% endblock %}
