{% extends "base.html" %}
{% load imagekit %}

{% block content %}
    <h3>Öffentliche Konstruktionen</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for item in constructions %}
            <div class="col">
                <div class="card h-100">
                    {% if item.image %}
                        {% thumbnail 'x450' item.image -- alt=item.name class="card-img-top object-fit-contain" loading="lazy" %}
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
