{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="container">
                <form action="{% url 'login' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <button type="submit" class="btn btn-primary">
                            Einloggen
                        </button>
                        <p>Passwort vergessen? <a href="{% url 'password_reset' %}">Passwort zurücksetzen</a></p>
                    {% endbuttons %}
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-dark mb-4">
                <div class="card-header">Probleme?</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Ich kenne meinen Usernamen nicht!</h5>
                    <p class="card-text">Versuche deinen "Vornamen.Nachname" <br>  Sollte das nicht funktionieren sende uns eine Email!<br>
                        <a href="mailto:info@schwarzzeltland.de">info@schwarzzeltland.de</a></p>
                    <h5 class="card-title">Ich habe mein Passwort vergessen!</h5>
                    <p class="card-text">
                        Nutze den Link hinter "Passwort vergessen"<br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}