<tr id="member-{{ m.id }}">
    <td>{{ m.user.username }}</td>
    <td><input class="form-check-input" type="checkbox" hx-trigger="change"
               hx-post="{% url 'change_admin' m.id %}" hx-swap="none"
            {% if m.admin %} checked {% endif %} {% if m.user == request.user or not membership.admin %}
               disabled {% endif %}
    />
    </td>
    <td><input class="form-check-input" type="checkbox" hx-trigger="change"
               hx-post="{% url 'change_material_manager' m.id %}" hx-swap="none"
            {% if m.material_manager %} checked {% endif %}  {% if not membership.admin %} disabled {% endif %}
    />
    </td>
    <td><input class="form-check-input" type="checkbox" hx-trigger="change"
               hx-post="{% url 'change_event_manager' m.id %}" hx-swap="none"
            {% if m.event_manager %} checked {% endif %}  {% if not membership.admin %} disabled {% endif %}
    />
    </td>
    <td><input class="form-check-input" type="checkbox" hx-trigger="change"
               hx-post="{% url 'change_knowledge_manager' m.id %}" hx-swap="none"
            {% if m.knowledge_manager %} checked {% endif %}  {% if not membership.admin %} disabled {% endif %}
    />
    </td>
    <td>
        {% if m.user != request.user and membership.admin %}
            <button type="button" class="btn btn-outline-danger"
                    hx-post="{% url 'delete_membership' m.id %}" hx-swap="outerHTML" hx-target="#member-{{ m.id }}">
                Löschen
            </button>
        {% endif %}
    </td>
</tr>