{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    {% if usermaterialmanager and organization.pro3 %}
        <div class="card mb-3">
        <div class="card-body">
                <a href="{% url 'organization_material_checklist' %}" class="btn btn-warning w-100">
                    Materialwart To-Do's
                </a>
        </div>
        </div>
         <hr>
    {% endif %}
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if membership.admin %}
            {% bootstrap_field form.name %}
            {% bootstrap_field form.image %}
            {% bootstrap_field form.recipientcode %}
            {% if organization.pro3 %}
                {% bootstrap_field form.default_checklist %}
            {% endif %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Speichern
                </button>
                <a href="{% url 'delete_organization' organization.pk %}" class="btn btn-danger">Organisation
                    löschen</a>
            {% endbuttons %}
        {% else %}
            <table class="table">
            <thead>
            <tr>
                <td><strong>Name:</strong></td>
                <td> {{ organization.name }} </td>
            </tr>
            <tr>
                <td><strong>Bild:</strong></td>
                <td>
                    {% if organization.image %}
                        <img src="{{ organization.image.url }}" alt="Bild" width="200">
                    {% else %}
                        Kein Bild vorhanden
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Admin</th>
                <th scope="col">Material Manager</th>
                <th scope="col">Event Manager</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for m in members %}
                {% include "./member_list_entry.html" %}
            {% endfor %}
            {% if membership.admin %}
                <tr id="new_member">
                    <form hx-post="{% url 'add_user' %}" hx-swap="beforebegin" hx-target="#new_member"
                          hx-on::after-request="
                    const element = document.querySelector('input[name=name2]');
                    if (event.detail.failed) {
                        element.classList.add('is-invalid');
                        element.setCustomValidity('Unknown username');
                        element.reportValidity();
                        const handleInputChange = () => {
                          element.classList.remove('is-invalid');
                          element.setCustomValidity('');
                          element.removeEventListener('input', handleInputChange);
                        };
                        element.addEventListener('input', handleInputChange);
                    } else {
                        element.classList.remove('is-invalid');
                        element.value = '';
                    }">
                        <td><input name="name2" type="text" class="form-control" required></td>
                        <td><input name="admin" class="form-check-input" style="vertical-align: middle"
                                   type="checkbox"/>
                        </td>
                        <td><input name="material_manager" class="form-check-input" style="vertical-align: middle"
                                   type="checkbox"/></td>
                        <td><input name="event_manager" class="form-check-input" style="vertical-align: middle"
                                   type="checkbox"/></td>
                        <td>
                            <button type="submit" class="btn btn-success">Benutzer hinzufügen
                            </button>
                        </td>
                    </form>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
